html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    width: 100%;
    background-color: var(--fondo);
}

#titulo {
    color: black;
    margin-top: 70px;
}

div.container {
    padding: 0%;
}

.container-fluid {
    margin-inline: 10% !important;
}


a.navbar-brand {
    padding: 5px;
    font-size: 30px;
}

/* Swiper js*/

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
}

.swiper-slide img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: black;
}