html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    width: 100%;
    background-color: var(--fondo);
}


/* Seccion Inicio */

#titulo {
    color: black;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#titulo span {
    color: #FA5F1A;
    margin-left: -60px;
}

div.container {
    padding: 0%;
}

.container-fluid {
    margin-inline: 10% !important;
}


a.navbar-brand {
    padding: 5px;
    font-size: 30px;
}

/* Swiper js*/

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
}

.swiper-slide img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: black;
}

#inicio {
    padding: 1%;
}


/* Seccion Nosotros */

#nosotros {
    background-color: #252525;
}

.titulo-nosotros {
    color: #ffffff;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
    margin-top: 10%;
    padding: 90px;
}

.info-nosotros {
    color: #ffffff;
    font-size: 20px;
    margin-inline: 10%;
    display: flex;
    padding: 40px 200px 100px 200px;
}

.info-nosotros p {
    padding: 40px;
    background-color: #313131;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
}

.info-nosotros img {
    width: 50%;
    height: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.segundo-div img {
    display: block;
    margin: auto;
}




/* Seccion Adopción */

#adopcion {
    margin-inline: 10%;
    padding: 5%;
}

.titulo-adopcion,
#adopcion span {
    color: #313131;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
    margin-top: 5%;
    padding: 40px 40px 0px 40px;
    font-weight: bold;
}

#adopcion span {
    color: #FA5F1A;
    letter-spacing: 20px;
    display: block;
    margin: 0 auto;
}

#requisitos-adopcion .card {
    border: none;
    position: relative;
    padding: 50px 20px 40px 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    transition: .5s;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#requisitos-adopcion {
    margin-top: 100px;
}




/*      RESPONSIVE      */
@media (max-width: 1000px) {

    #titulo {
        margin-top: 100px;
    }

    .info-nosotros {
        display: block;
        padding: 0;
    }

    .info-nosotros p {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;

    }


    .info-nosotros img {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;

    }


}



/* Iconos adoptar */

#requisitos-adopcion img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -70px;
}


/* Footer */

#footer {
    width: 100%;
    height: 10%;
    color: #d9d9d9;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

#footer p {
    margin: 0;
}


/*  Columna informacion gatos */


#titulo-michi span {
    text-align: center;
    margin: 0 auto;
}

#tabla-michis {
    width: 40%;
    margin-top: 5%;
    padding: 50px;
    border-radius: 10px;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    margin-bottom: 5%;
}


#tabla-michis .col {
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #313131;
}

#tabla-michis .col:nth-last-child(1), #tabla-michis .col:nth-last-child(2) {
    border-bottom: none;
}

#tabla-michis img {
    width: 300px;
    display: block;
    margin: auto;
}

#col-cat:nth-last-child(2) {
    margin-top: 10%;
}

#form-info {
    width: 40%;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 5%;
    border: none;
}

#form-info input,
#form-info textarea,
#form-info input:focus,
#form-info select:focus,
#form-info select,
#form-info input.form-control:focus,
#form-info textarea:focus,
#form-info textarea:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    background-color: #25252511;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

label.form-label {
    font-weight: 500;
}

#boton {
    display: flex;
    margin: 0 auto;
    justify-content: center; 
}
.btn.btn-primary {
    background-color: #252525;  
    border: none;
    width: 50%;
    padding: 10px;
    margin-top: 8%;
    border-radius: 20px;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    opacity: 60%;
    background-color: #252525!important;
}

.btn.btn-primary:active {
    background-color: #252525!important;
    opacity: 100%;
}

#informacion-adopcion {
    padding: 35px;
}

#informacion-adopcion img {
width: 25px;
cursor: pointer;
margin: 15px;
}

#informacion-adopcion img:hover {
    opacity: 40%;  
}
    

/* Responsive */


@media (max-width: 1503px) {

    .info-nosotros p {
        font-size: 15px;
    }

    .info-nosotros {
        padding: 40px;
    }

    #tabla-michis {
        width: 70%;
    }

    #form-info {
        width: 80%;
    }


}

@media (max-width: 900px) { 

    #tabla-michis {
        width: 80%;
    }

    
    #form-info {
        width: 90%;
    }

     
}

@media (max-width: 790px) { 
    #tabla-michis img {
        width: 250px;
    }

    #tabla-michis {
        width: 80%;
    }

    #col-cat {
        position: absolute;
        display: contents;
    }

    .titulo-adopcion,
    #adopcion span {
        font-size: 40px;
    }

    #adopcion span {
        letter-spacing: 10px;
        font-size: 40px;
    } 

    .btn.btn-primary {
        width: 100%;
    }

    #form-info {
        width: 90%;
    }
}


 @media (max-width: 480px) {

    .titulo-adopcion,
    #adopcion span {
        font-size: 30px;
    }

    #adopcion span {
        letter-spacing: 10px;
        font-size: 30px;
    } 
   
    #form-info {
        width: 100%;
    }


} 
 
