html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    width: 100%;
    background-color: var(--fondo);
}


/* Seccion Inicio */

#titulo {
    color: black;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#titulo span {
    color: #FA5F1A;
    margin-left: -60px;
}

div.container {
    padding: 0%;
}

.container-fluid {
    margin-inline: 10% !important;
}


a.navbar-brand {
    padding: 5px;
    font-size: 30px;
}

/* Swiper js*/

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
}

.swiper-slide img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: black;
}

#inicio {
    padding: 1%;
}


/* Seccion Nosotros */

#nosotros {
    background-color: #252525;
}

.titulo-nosotros {
    color: #ffffff;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
    margin-top: 10%;
    padding: 90px;
}

.info-nosotros {
    color: #ffffff;
    font-size: 20px;
    margin-inline: 10%;
    display: flex;
    padding: 40px 200px 100px 200px;
}

.info-nosotros p {
    padding: 40px;
    background-color: #313131;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 18px;
}

.info-nosotros img {
    width: 50%;
    height: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.segundo-div img {
    display: block;
    margin: auto;
}




/* Seccion Adopción */

#adopcion {
    margin-inline: 10%;
    padding: 5%;
}

.titulo-adopcion,
#adopcion span {
    color: #313131;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
    margin-top: 5%;
    padding: 40px 40px 0px 40px;
    font-weight: bold;
}

#adopcion span {
    color: #FA5F1A;
    letter-spacing: 20px;
    display: block;
    margin: 0 auto;
}

#requisitos-adopcion .card {
    border: none;
    position: relative;
    padding: 50px 20px 40px 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    transition: .5s;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#requisitos-adopcion {
    margin-top: 100px;
}




/*      RESPONSIVE      */
@media (max-width: 1000px) {

    #titulo {
        margin-top: 100px;
    }

    .info-nosotros {
        display: block;
        padding: 0;
    }

    .info-nosotros p {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;

    }


    .info-nosotros img {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;

    }


}



/* Iconos adoptar */

#requisitos-adopcion img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -70px;
}


/* Footer */

#footer {
    width: 100%;
    height: 10%;
    color: #d9d9d9;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

#footer p {
    margin: 0;
}




/* Responsive */


@media (max-width: 1503px) {

    .info-nosotros p {
        font-size: 15px;
    }

    .info-nosotros {
        padding: 40px;
    }


}


@media (max-width: 480px) {

    .titulo-adopcion,
    #adopcion span {
        font-size: 30px;
    }

    #adopcion span {
        letter-spacing: 10px;
        font-size: 30px;
    }
}